.toolbar {
	width: 100%;
	height: 40px;
	background-color: #141B20;
	border-radius: 3px 3px 0 0;
}

.toolbar .item {
	float: left;
	height: 40px;
	padding: 0 10px;
	line-height: 40px;
	font-weight: 600;
	cursor: pointer;
	transition: all .5s;
	width: 30px;
	text-align: center;
}

.toolbar .item:first-child {
	border-radius: 3px 0 0 0;
}

.toolbar .item:hover {
	background-color: #36b9cc;
	color: #fff;
}

.toolbar + textarea {
	border-top: none;
	border-radius: 0 0 3px 3px;
}